/* src/Canvas.css */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#drawing-canvas {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    cursor: crosshair;
    touch-action: none; /* Crucial para que no se mueva el scroll en tablets */
}